.tag {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  padding: 8px 16px;
  font-weight: 500;
  border: 1px solid #A0A0A0;
  line-height: 120%;
  background: #FFF;
  color: #000;
  line-height: 1;
  text-transform: capitalize;
  border-radius: 30px;
}

.tag:last-child {
  margin-right: 0px;
}
